@import "../partials.scss";

body {
    background-color: $junebud;
    color: $vermillion;
    font-family: 'Titan One', cursive;
}

a {
    @include fixAnchors;
}

.top {
    @include window;
    width: 100%;
    font-size: 60px;
    padding: 10px;
    text-align: center;
}

.books {
    @include window;
    width: 75%;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
}

button {
    @include button;
}