@import "../partials.scss";

body {
    background-color: $junebud;
    color: $vermillion;
    font-family: 'Titan One', cursive;
}

a {
    @include fixAnchors;
}

.top {
    @include window;
    width: 95%;
    font-size: 60px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    top: 5px;
}

.books {
    @include window;
    font-family: 'PT Serif', serif;
    width: 75%;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    display: block;
    margin: auto;
}

.notice {
    @include window;
    font-family: 'PT Serif', serif;
    width: 75%;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
}

button {
    @include button;
}

.boldAuthor {
    font-weight: bold;
    font-size: 30px;
}

.italicTitle {
    font-style: italic;
}

.boldItalicTitle {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

.bookPhoto {
    display: block;
    margin: auto;
    height: 300px;
}

.bar {
    border-top: 3px $vermillion solid;
    width: 500px;
    height: 2px;
    display: block;
    margin: auto;
}