//colors
$pearl: #E4E6C3;
$vermillion: #F05D23;
$junebud: #C5D86D;

@mixin window {
    background-color: $pearl;
    border: 5px solid $vermillion;
}

@mixin fixAnchors {
    text-decoration: none;
    color: $vermillion;
}

@mixin button {
    background-color: $vermillion;
    color: $pearl;
    font-size: 20px;
}